body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

h2 {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.add-task-btn {
    float: left;
    display: block;
    margin-top: 20px; /* Adjust the margin to align the button as desired */
    text-align: center;
}

.list-group-item {
    cursor: grab;
    margin-bottom: 10px;
}